.vs
.idea
Celeste64/bin
Celeste64/obj
Foster/bin
Foster/obj
*.user
Celeste64/Content/Map_Test/autosave
Celeste64/Content/Maps/autosave
Celeste64/Celeste64/Content/FMOD/celeste64/.cache
Celeste64/Content/FMOD/celeste64/.user
Celeste64/Content/FMOD/celeste64/.unsaved